@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hubballi', cursive;
}

.container{
    width: 450px;
}

h1{
    color: #364547;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2.2em;
}

.container .box{
    width: 100%;
    display: flex;
}
.box div{
    width: 100%;
}

select{
    width: 95%;
    height: 40px;
    font-size: 1em;
    cursor: pointer;
    outline: none;
    background: #46a1adfd;
    color: white;
    margin: 0.2em 0;
    padding: 0 1em;
    border-radius: 10px;
    border: none;
}

input{
    width: 95%;
    height: 40px;
    font-size: 1em;
    margin: 0.2em 0;
    border-radius: 10px;
    border: none;
    background-color: #e4e5f0;
    box-shadow: 0px 10px 20px rgba(128,128,128,.25);
    outline: none;
    padding: 0 1em;
}

.btn{
    width: 98%;
    height: 40px;
    background: #364547;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    margin: 1em 0;
    transition: .1s;
}
.btn:hover{
    opacity: .9;
}

footer{
    position: absolute;
    bottom: 2em;
}

.creator{
    font-weight: bold;
}
.creator a{
    text-decoration: none;
    color: #46a1adfd;
}
.creator a:hover{
    color: #364547;
}